
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;  
    background-color: #fdfdfd;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-height: 100vh;
}
section:nth-child(2){
    box-shadow: 0px 0px 15px #000;
    background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);

    background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);

}
.bg-gradient1 span,
.bg-gradient1:before {
    background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  }
.bg-gradient2 span,
.bg-gradient2:before {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #37daf5 74%);
    }
.bg-gradient3 span,
.bg-gradient3:before {
    background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
      }
.active span, .active::before {
    background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

}
#grid {
    background: #fff;
    box-shadow: 0 0 25px #333;
    width: 640px;
    height: 640px;
    display: flex;
    margin: 4% auto;
    flex-flow: row wrap;
    justify-content: flex-start;

  }
#grid div{
    width: calc(100% / 8);
    height: calc(100% / 8);

    outline: 1px solid #ccc;
}

[class='p2']{
  background-color: green ;
}
.active [id='2']{
    background-color: red ;
  }
[class='p3']{
    background-color: green ;
  }

[class='p4']{
    background-color: lightblue ;
}
[class='p5']{
    background-color: yellow ;
  }

    
  

/* Button */
#buttons{
    margin: 0 auto;
}
.fancy-button {
    display: inline-block;
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;
    position: relative;
  }
  .fancy-button.bg-gradient1 {
    text-shadow: 0px 0px 1px green;
  }
  .fancy-button:before {
    content: '';
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: -1;
    border-radius: 2em;
    -webkit-filter: blur(14px) brightness(0.9);
            filter: blur(14px) brightness(0.9);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }

  .fancy-button span {
    display: inline-block;
    padding: 16px 20px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }

  .fancy-button:focus {
    color: #ffffff;
  }
  .fancy-button:hover {
    color: #ffffff;
  }
  .fancy-button:hover span {
    -webkit-filter: brightness(0.9) contrast(1.2);
            filter: brightness(0.9) contrast(1.2);
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  .fancy-button:hover:before {
    bottom: 3px;
    -webkit-filter: blur(6px) brightness(0.8);
            filter: blur(6px) brightness(0.8);
  }
  .fancy-button:active span {
    -webkit-filter: brightness(0.75) contrast(1.7);
            filter: brightness(0.75) contrast(1.7);
  }

  .app {
    position: relative;
    top: 50%;
    left: 50%;
    width: 362px;
    height: 300px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .app h1 {
    position: absolute;
    top: -34px;
    left: -2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    font-size: 27px;
    opacity: .9;
  }
  .app .logo {
    width: 25px;
    height: 25px;
    margin-right: 3px;
  }
  .app time {
    position: absolute;
    top: -32px;
    right: 1px;
    text-transform: uppercase;
    color: #fff;
    opacity: .7;
    font-size: 10.5px;
    text-align: right;
    line-height: 1.25;
    letter-spacing: 0.5px;
  }
  .app .widget {
    margin: 0;
    padding: 0;
  }
  .app .widget li {
    width: 180px;
    height: 148px;
    padding: 40px 10px;
    margin: 0.5px;
    list-style-type: none;
    float: left;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 64, 58, 0.15);

  }
  .app .widget li i {
      font-size: 5em;
  }
li#AlarmBtn.active{
      background-color: darkred !important;
  }
  .app .widget li h2 {
    font-size: 11px;
    opacity: .8;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .app .widget li .val {
    font-size: 50px;
    font-weight: 100;
    color: #343a42;
  }
  .app .widget li .val small {
    font-size: 30px;
  }
  .app .widget li .val small sup {
    position: relative;
    top: -12px;
  }
  
  @keyframes blinking {
    0%{
      background-color: #ff3d50;
    }
    /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
    50%{
      color: #55d66b;
    }
    */
    100%{
      background-color: #222291;
    }
  }
  .demo{
   
    /* NAME | TIME | ITERATION */
    animation: blinking 1s infinite;
  }


.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}



.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: #999;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}


.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}



.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}



.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #a7e245;
	transform: translateX(-30%);
}

.btn-signup {
	color: #a7e245;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #a7e245;
	transform: translateX(30%);
}
